/* This could be split into multiple files, but for simplicity, we keep it in one. */
:root {
    --color-instock: #25A525 !important;
}

/* Product Information Details */
.group-compare-at-price {
    margin-right: 20px;

}

.compare-at-price {
    opacity: 1;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-weight: 600;
}

.price {
    font-size: 18px;
    line-height: 22px;
    color: #1F47FF;
    font-weight: 600;
}

.taxes-included-note {
    color: #000000;
    font-size: 10px;
    line-height: 13px;
    font-weight: normal;
}

.product-inventory__icon {
    width: 15px !important;
    height: 15px !important;
}

.product-inventory__text, .delivery-time {
    color: var(--color-instock);
    font-size: 15px;
    font-weight: normal;
    line-height: 19px;
}

.button[id^='BuyButtons-ProductSubmitButton-'] {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}